.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  /* Responsive Css Coding Created By Shift Media Solutions| SMS */
  
  .col-25 {
    -ms-flex: 25%;
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  /* Responsive Css Coding Created By Shift Media Solutions| SMS */
  
  .container {
    background-image: linear-gradient(
      45deg,
      #ff7878,
      #ffc898,
      #fff89a,
      #cdf2ca,
      #a2cdcd,
      #d1e8e4,
      #cab8ff
    );
    padding: 5px 20px 15px 20px;
    border: 2px solid lightgrey;
    border-radius: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #c93f38;
    border-radius: 15px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  /* Responsive Css Coding Created By Shift Media Solutions| SMS */
  
  .btn {
    background-color: #000099;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #88ffcc;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #191970;
  }
  
  a {
    color: #2196f3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive Coding Created By: Shift Media Solutions| SMS️ */
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: sans-serif;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.04),
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.04),
        rgba(0, 0, 0, 0.01),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.09),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.03),
        transparent,
        rgba(0, 0, 0, 0.07),
        rgba(0, 0, 0, 0.03),
        rgba(0, 0, 0, 0.06) 4px
      ),
      linear-gradient(90deg, rgb(193, 255, 253), rgb(59, 104, 247));
  }
  
  /* Header Shift Media Solutions| SMS */
  
  .heading-shift {
    margin: 0;
    padding: 10px 0;
    color: #efe1d2;
    font-size: 20px;
    text-align: center;
    background: #ec0003;
    border-bottom: 3px solid #00fbff;
    opacity: 1;
    user-select: none;
  }
  
  .heading-shift .highlight {
    color: #c2ced2;
  }
  
  .container-shift {
    margin: 40px auto;
    padding: 20px;
    width: 90%;
    text-align: center;
    background-image: linear-gradient(
      65deg,
      #ff3030,
      #ff7230,
      #ffb330,
      #fff530,
      #c8ff30,
      #87ff30
    );
    border-radius: 8px;
    border: 1px solid #00fbff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  /* footer Shift Media Solutions| SMS */
  
  .footer-shift {
    bottom: 0;
    padding: 10px;
    text-align: center;
    border-top: 3px solid #00fbff;
    background: #000099;
    opacity: 0.9;
    user-select: none;
  }
  
  .footer-shift p {
    color: #c2ced2;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .footer-shift a {
    color: #eec87c;
    text-decoration: none;
  }
  
  .footer-shift a:hover {
    color: #3cbcfc;
  }
  
  /* Media Queries Shift Media Solutions| SMS */
  
  @media only screen and (max-width: 1080px) {
    .body {
      width: 100%;
      overflow: auto;
    }
  }
  